root = true
[*]
# Most of the standard properties are supported
indent_size=4
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.cs]
# See https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options for list of options

max_line_length = 120
csharp_wrap_long_lines = true

csharp_space_between_parentheses=false

# Prefer "var" everywhere
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_prefer_method_group_conversion = true:suggestion

dotnet_style_null_propagation = false

csharp_default_private_modifier=explicit
csharp_prefer_braces = true:suggestion
csharp_indent_block_contents = true:warning
