[submodule "UnityRenderStreaming"]
	path = UnityRenderStreaming
	url = https://github.com/JerritEic/UnityRenderStreaming.git
[submodule "Packages/com.unity.performance.profile-analyzer"]
	path = Packages/com.unity.performance.profile-analyzer
	url = https://github.com/JerritEic/com.unity.performance.profile-analyzer.git
[submodule "Packages/com.utj.profilerreader"]
	path = Packages/com.utj.profilerreader
	url = https://github.com/JerritEic/ProfilerReader.git
[submodule "Packages/PolkaDOTS"]
	path = Packages/PolkaDOTS
	url = https://github.com/atlarge-research/PolkaDOTS.git
