[submodule "com.misharigot.procgen"]
	path = Packages/com.misharigot.procgen
	url = git@github.com:misharigot/procgen.git
[submodule "UnityRenderStreaming"]
	path = UnityRenderStreaming
	url = git@github.com:JerritEic/UnityRenderStreaming.git
